*
{
	
font-family: seans-serif;
text-align: center;
font-size: 40px;

}

body
{
    
    margin: 0;
    background-image: url("img/wiazar.jpg");
    
    
    
}

body img 
{
    
    width: 100%;
    height: auto;
}



.container
{
    
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    
}



.col-sm-12> header
{
    font-size: 60px;
    background-color: aliceblue;
    color: #3596b5;
    margin: 0;
    height: 150px;
    text-align: center;
    display: flex;
    position: relative;
    
}



header >p
{
    
    height: 150px;
    text-align: center;
    width: 700px;
    text-align: center;
    margin-left: 290px;
    margin-top: 50px;
    position: absolute;
    letter-spacing: 2px;
    transition: all 1s ease-out;
    
}


header >p:hover
{
    color: aquamarine;
    font-size: 130%;
    transform: rotate(5deg) translate(20px)
}